:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

.wrapGame {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.wrapGame .content {
  position: relative;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 400px;
  background: rgb(255, 255, 255);
  border: 1px solid #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapGame .content #header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.wrapGame .content #header .headerInner {
  width: inherit;
  height: inherit;
  background: var(--primary);
  z-index: 9999;
}
.wrapGame .content .article {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  position: relative;
}
.wrapGame .content .article .rock {
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.wrapGame .content .article .rock.active {
  display: block;
}
.wrapGame .content .article .scissor {
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.wrapGame .content .article .scissor.active {
  display: block;
}
.wrapGame .content .article .paper {
  font-size: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.wrapGame .content .article .paper.active {
  display: block;
}
.wrapGame .content .buttonWrap {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.wrapGame .content .buttonWrap > button {
  width: 5rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem #8abdff, inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.wrapGame .content .buttonWrap > button.primary {
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  color: var(--greyLight-1);
}
.wrapGame .content .buttonWrap > button.primary:hover {
  color: var(--white);
}
.wrapGame .content .buttonWrap > button.primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}
.wrapGame #modal.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
}
.wrapGame #modal.modal_overlay.modal_overlay.open {
  display: flex;
}
.wrapGame #modal.modal_overlay .modal_content {
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  position: relative;
}
.wrapGame #modal.modal_overlay .modal_content h1 {
  font-size: 1rem;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.wrapGame #modal.modal_overlay .modal_content .cancel {
  position: absolute;
  right: 20px;
  top: 10px;
  display: block;
}
.wrapGame #modal.modal_overlay .modal_content .modal_result {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #000;
  font-size: 10rem;
  text-align: center;
}
.wrapGame #modal.modal_overlay .modal_content .modal_result_context {
  text-align: center;
  margin-top: 20px;
}
.wrapGame #start_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background: rgb(255, 255, 255);
}
.wrapGame #start_modal.start {
  display: none;
}
.wrapGame #start_modal .start_modal_content {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 20px;
}
.wrapGame #start_modal .start_modal_content h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #342e3e;
  font-family: "Tenada";
  text-align: center;
  margin: 70px 0;
}
.wrapGame #start_modal .start_modal_content #startGame {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--primary-light);
  background: var(--primary-light);
  color: #000000;
}